
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="form-container">
      <h1>Share your chicken with Montrealers</h1>


<%= simple_form_for @chicken do |f| %>
  <%= f.input :name, wrapper_html: {class: "eggbnb-inputs"}  %>
  <div class="flexbox-input-group">
    <%= f.input :age, wrapper_html: {class: "eggbnb-inputs"} %>
    <%= f.input :price,
                hint: ("Please add your price in dollars"),
                wrapper_html: {class: "eggbnb-inputs"}%>
  </div>
  <div class="flexbox-input-group">
    <%= f.input :egg_volume, wrapper_html: {class: "eggbnb-inputs"} %>
    <%= f.input :egg_color,
                 collection: [ "white", "brown", "blue", "green", "pink" ],
                 wrapper_html: {class: "eggbnb-inputs"} %>
  </div>
  <%= f.input :description, wrapper_html: {class: "eggbnb-inputs"} %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

    <%= f.button :submit, value: "Done", class: 'btn btn-lg btn-primary big-btn-form' %>
<% end %>
    </div>
  </div>
  </div>
</div>

