
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>List your chicken</h1>


<%= simple_form_for @chicken do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :price %>
  <%= f.input :egg_volume %>
  <%= f.input :egg_color %>
  <%= f.input :description %>

    <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
    </div>
  </div>
</div>

