<div class="container">
  <h1 class="chicken-name"> <%= @chicken.name %> </h1>
  <%= link_to "Back to all chickens", chickens_path %>
<br>
  <%= cl_image_tag @chicken.photo, height: 300, width: 1000, crop: :fill %>

  <div class="row">
    <h3>Chicken characteristic</h3>
    <table class="table table-bordered">
      <tbody>
        <thead>
          <th>Age</th>
          <th>Egg number per day</th>
          <th>Egg color</th>
          <th>Description</th>
        </thead>
          <tr>
            <td><%= @chicken.age %> years old</td>
            <td>
              <% @chicken.egg_volume.times do %>
                <i class="fas fa-egg"></i>
              <% end %>
              </td>
            <td><%= @chicken.egg_color %></td>
            <td><%= @chicken.description %></td>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Book</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book <strong><%= @chicken.name %></strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@chicken, @booking] do |f| %>
          <p><%= f.input :start_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %></p>
          <p><%= f.input :end_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %></p>
          <p id="booking_price">Price: $<%= (@chicken.price.to_f)/100 %></p>
          <div id="total-price-calculated"></div>
        <br>
        <p><%= f.button :submit, class: 'btn btn-primary' %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
