


<div class="container">
  <div class="master-container">

  <div class="info-column">
    <%= cl_image_tag @chicken.photo, height: 250, width: 500, crop: :fill %>
    <div class="information">
      <h3><%= @chicken.name %></h3>
      <span>eggs per day:</span>
      <% @chicken.egg_volume.times do %>
        <i class="fas fa-egg <%= @chicken.egg_color %>"></i>
      <% end %>
      <div>egg color: <%= @chicken.egg_color %></div>
      <p>price per day: $<%= @chicken.price %></p>
      <% if current_user == nil %>
  <div><%= link_to "Book", new_user_session_path, class: "btn btn-primary" %></div>
<% elsif current_user != @chicken.user %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Book</button>
<% end %>
    </div>
  </div>

  <div class="description">
    <h3>Hi, I'm <%= @chicken.name %></h3>
    <p><%= @chicken.description %></p>
    <div class="footer-description">
       <p>Belongs to: <%= @chicken.user.first_name%></p>
      <%= cl_image_tag @chicken.user.photo, height: 50, width: 50, crop: :fill %>
      <p><div><%= link_to "Send message", new_user_session_path, class: "btn btn-primary" %></div></p>
    </div>
    <% if policy(@chicken).edit? %>
    <div><%= link_to "Edit", edit_chicken_path(@chicken), class: "btn btn-primary" %></div>
    <% end %>

<p><% if policy(@chicken).destroy? %>
    <div><%= link_to "Delete", chicken_path(@chicken), method: :delete, class: "btn btn-primary" %></div>
    <% end %></p>
  </div>
  </div>
</div>

</div>




<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book <strong><%= @chicken.name %></strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-container">
        <!-- added styling to upcase form fields and format spacing -->
          <h1>You're one step away from farm fresh eggs...</h1>
        <%= simple_form_for [@chicken, @booking] do |f| %>
          <p><%= f.input :start_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true, wrapper_html: {class: "eggbnb-inputs"} %></p>
          <p><%= f.input :end_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true, wrapper_html: {class: "eggbnb-inputs"} %></p>
          <p id="booking_price">Price per day: $<%= @chicken.price %></p>
          <p id="total-price-calculated" data-price-per-day = "<%=@chicken.price  %>"> </p>
        <br>
        <p><%= f.button :submit, class: 'btn btn-primary' %></p>
        <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <br>
      </div>
    </div>
  </div>
</div>
